{% extends 'base.html' %}
{% load static %}
{% block navbar %} {% endblock navbar %}
{% block content %}
    <div id='form-container' >
        <form action="{% url 'users' %}" method="post" id="registration-form">
            {% csrf_token %}
            <div id='form-contents'>
                {% for field in form %}
                    <p class="form-field">{{ field.label_tag }} {{ field }}</p>
                {% endfor %}
                <div class="btn-container"><input type="submit" class="btn btn-primary" value="Submit"></div>
                <div id="error" style="color: red;"></div>
            </div>
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
    <style>
        #form-container{
            display: flex;
            justify-content: center;
        }
        
        #form-contents{
            width: 600px;
            background-color: ghostwhite;
            padding: 20px;
        }
        .form-field {
          display: flex;
          flex-direction: column;
          margin-bottom: 1em;
        }
        
        .form-field label {
          font-weight: bold;
          margin-bottom: 0.5em;
        }
        
        .form-field input,
        .form-field select,
        .form-field textarea {
          padding: 0.5em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        .btn-container{
            display:flex;
            justify-content: flex-end;
        }       
        
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.getElementById("registration-form");
            const password1 = document.getElementById("id_password1");
            const password2 = document.getElementById("id_password2");
            const errorDiv = document.getElementById("error");
    
            form.addEventListener("submit", function(event) {
                if (password1.value !== password2.value) {
                    event.preventDefault(); // Prevent form submission
                    errorDiv.textContent = "Passwords do not match.";
                }
            });
        });
    </script>
    
{% endblock content %}

